<h1><b>EMPLOYEE DETAILS</b></h1>
<div>
  <p>Employee ID: {{employeeId}}</p>
</div>
<!--
<form [formGroup]="employeeDetailsForm" (ngSubmit)="onSubmit(employeeDetailsForm.value)">
  <div>
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
  </div>
  <div>
    <label for="verifyPassword">Verify Password</label>
    <input id="verifyPassword" type="password" formControlName="verifyPassword">
  </div>
  <div>
    <label for="employeeType">Employee Type</label>
    <select id="employeeType" type="string" formControlName="employeeType">
      <option>General Manager</option>
      <option>Shift Manager</option>
      <option>Cashier</option>
    </select>
  </div>
  <button mat-raised-button class="button" type="submit">Save</button>
</form>
-->

<form [formGroup]="employeeDetailsForm" (ngSubmit)="onSubmit(employeeDetailsForm.value)">
	<mat-form-field>
		<mat-label>First Name</mat-label>
		<input matInput id="firstName" type="text" formControlName="firstName">
	</mat-form-field>
	<br>
  	<mat-form-field>
    	<mat-label for="lastName">Last Name</mat-label>
    	<input matInput id="lastName" type="text" formControlName="lastName">
	</mat-form-field>
	<br>
	<mat-form-field>	
		<mat-label for="password">Password</mat-label>
    	<input matInput id="password" type="password" formControlName="password">
	</mat-form-field>
	<br>
	<mat-form-field>
		<mat-label for="verifyPassword">Verify Password</mat-label>
    	<input matInput id="verifyPassword" type="password" formControlName="verifyPassword">
  	</mat-form-field>
	<br>
	<br>
  	<mat-form-field>
    	<mat-label for="employeeType">Employee Type</mat-label>
		<mat-select id="employeeType" type="string" formControlName="employeeType">
		  <mat-option *ngFor="let type of employeeTypes" [value]="type">
			  {{type}}
		  </mat-option>
		</mat-select>
	</mat-form-field>
	<br>
  <br>
  <button mat-raised-button class="button" type="submit">Save</button>
  <br>
</form>