<h1><b>PRODUCT DETAILS</b></h1>
<form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit(productDetailsForm.value)">
    <div>    
        <mat-form-field>
            <mat-label for="name">Name</mat-label>
            <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label for="price">Price</mat-label>
            <input matInput id="price" type="number" formControlName="price">
        </mat-form-field>
    </div>
    <div>    
        <mat-form-field>
            <mat-label for="lookupCode">Lookup Code</mat-label>
            <input matInput id="lookupCode" type="text" formControlName="lookupCode">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label for="count">Count</mat-label>
            <input matInput id="count" type="number" formControlName="count">
        </mat-form-field>
    </div>
    <button *ngIf="isManager" class="button" type="submit">Save</button>
</form>
<button mat-raised-button *ngIf="isManager" class="button" (click)="deleteClicked()">Delete</button>

<!--
<h1><b>PRODUCT DETAILS</b></h1>
<form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit(productDetailsForm.value)">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Lookup Code</mat-label>
        <input matInput id="lookupCode" type="text" formControlName="lookupCode">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Count</mat-label>
        <input matInput id="count" type="number" formControlName="count">
    </mat-form-field>
	<mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput id="price" type="number" formControlName="price">
	</mat-form-field>
    <button mat-raised-button *ngIf="isManager" class="button" type="submit">Save</button>
</form>
<button mat-raised-button *ngIf="isManager" class="button" (click)="deleteClicked()">Delete</button>
-->
<!--
<h1><b>PRODUCT DETAILS</b></h1>
<form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit(productDetailsForm.value)">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="price">Price</label>
        <input id="price" type="number" formControlName="price">
    </div>
    <div>
        <label for="lookupCode">Lookup Code</label>
        <input id="lookupCode" type="text" formControlName="lookupCode">
    </div>
    <div>
        <label for="count">Count</label>
        <input id="count" type="number" formControlName="count">
    </div>
    <button *ngIf="isManager" class="button" type="submit">Save</button>
</form>
<button mat-raised-button *ngIf="isManager" class="button" (click)="deleteClicked()">Delete</button>
-->