<h1><b>MAIN MENU</b></h1>
<button mat-raised-button (click)="transaction()">Start Transaction</button> 
<div id="ErrorTransaction" hidden>
    <p>This functionality has not yet been implemented.</p>
</div>

<br/> 
<br/> 

<button mat-raised-button (click)="products()">View Products</button>

<br/> 
<br/> 

<button mat-raised-button *ngIf="manager" (click)="createEmployee()">View Employees</button>

<br/>
<br/>  

<button mat-raised-button *ngIf="manager" (click)="salesReport()">Sales Report</button> 
<div id="ErrorSales" hidden>
    <p>This functionality has not yet been implemented.</p>
</div>

<br/>
<br/>

<button mat-raised-button *ngIf="manager" (click)="cashierReport()">Cashier Report</button> 
<div id="ErrorCashier" hidden>
    <p>This functionality has not yet been implemented.</p>
</div>
<br/>